<p id="notice"><%= notice %></p>

<h1><%= @pet.name %>, <%= @pet.breed %></h1>

<p><%= @pet.age %></p>
<div class="btn-group">
<%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-default" %> |
<%= link_to 'Back', pets_path, class: "btn btn-default" %>
</div>